<div class="container">
  <% if @treasuremap.errors.any? %>

    <div class="alert alert-danger" role="alert">
      <% @treasuremap.errors.full_messages.each do |error| %>
        <%= error %><br>
      <% end %>
    </div>

  <% end %>

<div class="new-form">
  <%= render partial: 'form' %>
</div>

<div class="">
   <%= link_to "Delete Map", treasuremap_path(id: @treasuremap.id), method: :delete, class: "btn btn-danger" %>
</div>

</div>
